* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  margin: 0;

  background: linear-gradient(
    270deg,
    #e40303,
    /* red */ #ff8c00,
    /* orange */ #ffed00,
    /* yellow */ #008026,
    /* green */ #004dff,
    /* blue */ #750787 /* purple */
  );
  background-size: 400% 400%;
  animation: prideFlow 5s ease-in-out infinite;
}

.card {
  background: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  backdrop-filter: blur(8px);
}

.card__title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.card__subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.btn {
  position: relative;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition:
    transform 0.18s,
    scale 1s,
    box-shadow 0.2s;
  color: #fff;
  font-weight: bold;
}

.card__yes-button {
  background: #00c851;
  z-index: 100;
}

.card__yes-button:hover {
  box-shadow: 0 6px 12px rgba(0, 200, 81, 0.4);
}

.card__no-button {
  background: #ff3547;
  margin-left: 1rem;
}

.card__no-button:hover {
  box-shadow: 0 6px 12px rgba(255, 53, 71, 0.4);
}

.lose-card,
.win-card {
  display: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card__action-buttons {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes prideFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
